<button class="btn">
    Add a Product
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Notes</th>
            <th scope="col">Expiry Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList">
            <th scope="row">{{ product.name }}</th>
            <td>{{ getQuantity(product) }}</td>
            <td>{{ product.category?.name }}</td>
            <td>{{ product.locationStored?.name }}</td>
            <td>{{ product.notes }}</td>
            <td>May 5, 2021</td>
            <td>
                <button class="btn">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>