<p *ngIf="showErrorAlert">
    <ngb-alert type="danger" [dismissible]="false">
        <strong>Error!</strong> Could not load products.
    </ngb-alert>
</p>
<p *ngIf="showDeleteError">
    <ngb-alert type="danger" [dismissible]="false">
        <strong>Error!</strong> Could not delete product.
    </ngb-alert>
</p>

<div *ngIf="!showErrorAlert && allProducts && productsList && expiredList">
    <select class="form-select w-auto select-list" [(ngModel)]="selectedList">
        <option value="all">All Products</option>
        <option value="products">Unexpired Products</option>
        <option value="expired">Expired Products</option>
    </select>
    
    <button class="btn ms-3 filter-btn" (click)="presentFilter()">Filter Options</button>

    <!--<select class="form-select w-auto select-list">
        <option value="all">Expiry Date</option>
        <option value="products">Unexpired Products</option>
        <option value="expired">Expired Products</option>
    </select>-->

    <button class="btn right-btn" routerLink="add-product">
        Add a Product
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col">Notes</th>
                <th scope="col">Expiry Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of getList()">
                <th scope="row">{{ product.name }}</th>
                <td>{{ getQuantity(product) }}</td>
                <td>{{ product.category?.name }}</td>
                <td>{{ product.locationStored?.name }}</td>
                <td>{{ product.notes }}</td>
                <td>{{ product.expiryDate | date:"MMM dd, yyyy":"+0000"}}</td>
                <td>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" ngbDropdownToggle>Actions</button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="openConsumeModal(product)">Consume</button>
                            <button ngbDropdownItem (click)="openTrashModal(product)">Trash</button>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem [routerLink]="['edit-product', product.id]">Edit</button>
                            <button ngbDropdownItem (click)="onDelete(product)">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>