<div class="card d-flex" style="max-width: 18rem; margin: auto; align-items: center;">
    <div class="card-body mx-auto">
        <h5 class="card-header mb-3 mx-auto">
            Log in to your account
        </h5>

        <form [formGroup]="loginForm">
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" formControlName="email" placeholder="Email" />

                <span class="error" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                    Please enter an email
                </span>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password"
                    formControlName="password" placeholder="Password" />
                <span class="error" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                    Please enter a password
                </span>
            </div>

            <div class="error mb-3" *ngIf="showError">
                Could not log in, please try again.
            </div>

            <button class="btn" (click)="login()" [disabled]="loginForm.invalid">
                Log In
            </button>
        </form>

        <div class="card-footer mt-3">
            <span>
                Don't have an account? <a class="link" routerLink="/register">Sign Up</a>
            </span>
        </div>
    </div>
</div>