<div class="modal-header">
    <h4 class="modal-title" id="trash-modal">Trash</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="trash">Quantity Trashed</label>
        <div class="input-group">
            <input [(ngModel)]="quantity" id="trash" class="form-control" type="number">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn cancel-btn" (click)="_activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn" (click)="onTrash()">Save</button>
</div>