.input-btn {
    background-color: #16697A;
    color: #ffffff;
    border-color: #16697A;
    border-style: solid;
    border-radius: 0 5px 5px 0;
    height: 75%;
}

.input-btn:hover {
    background-color: #458795;
    color: #ffffff;
    border-color: #458795;
}

.update-password-btn {
    background-color: #16697A;
    color: #ffffff;
    border-color: #16697A;
    border-style: solid;
    border-radius: 5px;
    height: 75%;
}

.update-password-btn:hover {
    background-color: #458795;
    color: #ffffff;
    border-color: #458795;
}

button:disabled {
    background-color: #458795;
    border-color: #458795;
}