<div class="modal-header">
    <h4 class="modal-title" id="consume-modal">Consume</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="consume">Quantity Consumed</label>
        <div class="input-group">
            <input [(ngModel)]="quantity" id="consume" class="form-control" type="number">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn cancel-btn" (click)="_activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn" (click)="onConsume()">Save</button>
</div>
