.btn {
    background-color: #16697A;
    color: #ffffff;
}

.btn:hover {
    background-color: #458795;
    color: #ffffff;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.link {
    font-weight: 600;
    color: #16697A;
    text-decoration: none;
}

.link:hover {
    color: #458795;
}

.table {
    vertical-align: middle;
}

.cancel-btn {
    background-color: transparent;
    color: #16697A;
    border-color: #16697A;
}

.cancel-btn:hover {
    color: #ffffff;
    background-color: #16697A;
}